discord.py==2.3.2
evaluate==0.4.2
google_cloud_aiplatform==1.49.0
numpy==1.26.4
pandas==2.2.2
Requests==2.32.3
scikit_learn==1.2.2
together==1.2.0
torch==2.1.2
transformers==4.38.2
vertexai==1.49.0
vocab==0.0.5
